.portfolio-scroll,
.portfolio-scroll div,
.portfolio-scroll {
    overflow: hidden;

}

.portfolio-scroll {

    background-color: var(--purple);
}

.scroll-container {
    /* background-color: var(--light-magenta); */
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 100%);
    justify-items: center;
    width: 80%;
    height: 80%;
    grid-row-gap: 30%;
}

.container {
    display: flex;
    height: 100vh;
    /* padding:50px; */
    grid-column: 8/ span 7;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.img.scroll-container {

    grid-template-rows: repeat(7, 75vh);
    align-items: center;
    justify-items: center;
    width: 100%;
    align-items: center;
    height: 100%;

    grid-row-gap: 51%;
}

.img.part.main::before {
    display: flex;
    content: attr(name);
    font-size: 79px;
    font-family: var(--heading);
    font-weight: 900;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img-frame {
    grid-column-start: 1;
    grid-column-end: span 7;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.img.part.main {
    width: 72%;
    height: 80%;
    margin-top: 12%;
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.5);
    background-image: url(../img/ph-bild.png);
    background-size: cover;
    background-position: center;
    /* margin: 50%; */
}

.part.rub {
    /* height:75vh; */
    width: 100%;
    text-align: center;
}

.part.para {
    height: 100%;
}

.part {
    transition: 0.8s;
    position: absolute;

}

.return {
    transition: 0s !important;
}


.info.container {}

.info.head {
    flex: 0 0 100%;
    height: 101px;
}


.info.text {}

.info.extra {}

.head.scroll-container {
    max-height: 100px;
}

.text.scroll-container {
    max-height: 224px;
}

.extra.scroll-container {
    margin-top: 20px;
    max-height: 48px;
}

.scroll-container.left {
    grid-template-rows: 100%;
    grid-template-columns: repeat(7, 100%);
    grid-gap: 20%;
}

.img.container {
    position: relative;
    background-image: linear-gradient(0deg, hsl(330, 78%, 85%) 0%, var(--light-magenta) 83%, var(--dark-magenta) 193%);
    grid-column: 1 / span 6;
    box-shadow: inset 1px 0px 3px 3px var(--dark-magenta);
    height: 103vh;
    top: -13px;
}

.img.part.main::before {}

@keyframes return {
    0% {
        top: var(--end);
        display: none;
    }

    100% {
        top: var(--start);
        display: block;
    }

}