:root {
    --col-gap: 2vw;
    --row-gap: 9vw;

    /* COLORS */
    --purple:
    hsl(299, 73%, 32%);
    --yellow:
    hsl(52, 79%, 53%);
    --magenta:
    hsl(330, 86%, 57%);
    --orange:
    hsl(35deg 100% 58%);
    --light-purple:
    hsl(299, 33%, 59%);
    --light-magenta:
    hsl(331, 80%, 85%);
    --light-orange:
    hsl(31, 81%, 80%);
    --light-yellow:
    hsl(52, 82%, 81%);
    --dark-purple:
    hsl(299, 73%, 16%);
    --dark-magenta:
    hsl(330, 73%, 26%);
    --dark-orange:
    hsl(31, 53%, 31%);
    --dark-yellow:
    hsl(52, 95%, 25%);

    --rgb-purple: 139, 22, 141;
    --rgb-magenta: 230, 36, 133;
    --rgb-orange: 244, 163, 78;
    --rgb-yellow: 251, 218, 5;

    --rgb-light-purple: 184, 116, 185;
    --rgb-light-magenta: 239, 123, 181;
    --rgb-light-orange: 248, 198, 145;
    --rgb-light-yellow: 253, 240, 155;

    --rgb-dark-purple: 70, 11, 71;
    --rgb-dark-magenta: 115, 18, 66;
    --rgb-dark-orange: 121, 80, 37;
    --rgb-dark-yellow: 124, 108, 3;

    --hsl-purple: 299, 73%, 32%;
    --hsl-yellow: 52, 97%, 50%;
    --hsl-magenta: 330, 79%, 52%;
    --hsl-orange: 31, 88%, 63%;

    --hls-light-purple: 299, 33%, 59%;
    --hls-light-magenta: 330, 78%, 71%;
    --hls-light-orange: 31, 88%, 77%;
    --hls-light-yellow: 52, 96%, 80%;
    --hls-dark-purple: 299, 73%, 16%;
    --hls-dark-magenta: 330, 73%, 26%;
    --hls-dark-orange: 31, 53%, 31%;
    --hls-dark-yellow: 52, 95%, 25%;


    --bg-dark:26,0,20;
    --bg-mid:68,11,70;
    --bg-light:228,35,130;
}

div {
    /* outline: 1px solid black; */
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    background-size:
    cover;
    background-repeat:
    no-repeat;
    background-image:
    linear-gradient(92.2deg, rgba(var(--bg-dark),1) 15%,rgba(var(--bg-mid)) 90%, rgba(var(--bg-light)) 190%);
    /* background: black; */
}
 
  .parallax-wrapper{
      /* display: grid; */
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      perspective: 100px;
      perspective-origin: 50% 0%;
      /* justify-content: center; */
      /* align-items: center; */
      /* flex-flow: column; */
      /* padding-left: 7%; */
      /* padding-right: 7%; */
  }
  .para{
    position:
    absolute;
    top:0;
    height: 253vh;
    width:100%;
  }
  .parallax1{
    transform: translateZ(-150px) scale(2.5);
    background-image: url(https://ams03pap001files.storage.live.com/y4mRh4bG25tsRi_bejAjVlovv2VXUhSr2dkA4SKK2FoJ7pYefqw1vfoxB84n0D-CgXGsIsDrMmhPKAPdvcHG4x5b7Pm9yUw4sJrTrJWU9cHU6u7l99JW5k2mgcQwOG6xanb7y3Frn1w-aosto6a0Hg-4c9PIC1U5dePi8dn1sEzjtU5Jbnwoubkt7qiGoQZ1Yzn?width=1928&height=6040&cropmode=none);;
    ;;;;background-size: 100%;;;;;
    background-repeat-x: no-repeat;
    ;;;;;;;;;opacity: 0.09;;;;;;;;;;
  }
  .parallax2{
    /* display:
    none; */
    transform: translateZ(-301px) scale(4.5);
    background-image:url(https://ams03pap001files.storage.live.com/y4md_Vo6gmMT2UyerZgkAXZsfpu-ziPG0f4gKdMPzhuEt6UjhzKl0NpE28aZORhBHiqS7q_lpwnR3EBilO8mgOQq5rORpJG9JvBieVviMPXFzqqBRlBsZms-CdkaIBVzjsxh2zFOSTywO5rJT8RF7MDO8Kbv5Fzy1xVqCYh73nVV5oYBeTLn25PhVwZINrV2tio?width=1736&height=2503&cropmode=none);;
    ;;;;;;;;;;;;;;;;background-size: 100%;;;;;;;;;;;;;;;;;
    ;;;;;;;;;;;;;;filter: blur(1px) saturate(100%) opacity(10%);;;;;;;;;;;;;;;
    ;;background-repeat-x:
    no-repeat;;;
  }




#grid-wrapper {
    position: relative;
    display: grid;
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
    grid-template-columns: repeat(var(--gridWrapper), 1fr);
    grid-template-rows: repeat(5, minmax(10px, auto));
    /*  background-image: url(../img/bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-basis: 100%;
    flex-shrink: 0;
    min-height: 100vh;
    /* width: 90%; */
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

#grid-wrapper.full-page {
    overflow: auto;
    height: 100vh;
    --col-gap: 0px;
    grid-template-rows: auto;
}

.anchor {
    position: absolute;
    width: 0px;
    height: 0px;

}

section,footer {
    position: relative;
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: inherit;
    /* grid-template-rows: auto  auto; */
    row-gap: 19px;
    column-gap: var(--col-gap);
    /* outline: 1px solid black; */
}

.section-read-more{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

header {
    position: relative;
    display: flex;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-rows: minmax(50px,20%) minmax(250px, 80%);
    /* background-image:
    url(../img/header-bg-grad.png); */
    background-size:100% 100%;
    /* height:101vh; */
    width:100%;
    flex-flow: column;
    align-items: center;
}
header::before{
    display: block;
    content:
    "";
    position:
    absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* background-image:url(../img/header-bg-splatter.png); */
    opacity:0.5;
}

.header-wrapper {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 15;
    grid-template-columns: repeat(12, 1fr);
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
    height: 100vh;

}

.side-btn:hover~.side-nav,
.side-nav:hover {
    width: 30%;

}
nav {
    
    height: 5vh;
    margin-top: 9vh;
    z-index: 99;

}
.nav-wrapper {
display:flex;
position: relative;
display: flex;
height: 100%;
justify-content: center;
align-items: center;
}

.nav-link {
    display: block;
    color: white;
    margin-left: 5vw;
}

.nav-btn {
    font-size: 24px;
}

.header-content {
    padding-top: 7vh;
}

.logo-wrapper {
    display:
    flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vmax;
    position: relative;
    /* margin-top: 6vmin; */
}

.cls-1 {
    fill: url(#splatterGradient);
    clip-path: url(#splatterClip);
}

.btn-main{
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 1px; */
    width: 140px;
    text-align: center;
    border:2px solid;
    border-image: linear-gradient(to right, var(--yellow),var(--magenta)) 1;
    color: var(--orange);
    overflow: hidden;
    z-index: 80;
    transition: 0.3s;
    /* color: var(--magenta); */
}

.btn-main::before {
    content: "";
    /* display: block; */
    background-image: linear-gradient(45deg, hsla(var(--hsl-yellow),1.5), hsla(var(--hsl-magenta),1));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: inherit;
}

.btn-main:hover::before {
    opacity: 0.5;
}

.btn-main:hover {
    /* border-radius: 8px; */
    /* border-color: transparent; */
    /* border-image: none; */
    /* width: 145px; */
    /* height: 45px; */
    /* border-width: 4px; */
    color: var(--light-yellow);
}

.gallery-container > .btn-main {
    align-self: end;
    grid-row: 2;
    /* right: 0px; */
    /* position: absolute; */
}
.logo-splatter {
    height: 80vmin;
    /* width: 100%; */
    opacity: 0.8;
    transition: 0.5s;
}
.logo-container{
    width: 23vmax;
    position: absolute;
    transition: 0.5s;
    height: 65%;
}
.logo-container::after{
    display: block;
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(../img/Logo-v2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.intro-content-left {
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
}

.intro-content-right {
    /* border-top: 5px solid; */
    display: flex;
    gap: var(--col-gap);
    height: 100vh;
    border-image: linear-gradient(to right, var(--magenta)30%,var(--purple)35%,var(--purple)65%, var(--orange) 70%) 1;
}

.intro-pic {
    position: relative;
    overflow: hidden;
    flex: 1 1 10%;
    /* top: -10vmin; */
    height: 80vh;
    /*  background-image: url(../img/ph-Bild2.png); */
    /* background-color: antiquewhite; */
    box-shadow: indet 1px 1px 1px 1px hsla(0deg, 0%, 0%, 0.5S);
    /* background-position: center; */
    transition: 0.2s;
    border-bottom-left-radius: 100vmax;
    border-bottom-right-radius: 100vmax;
}
.intro-pic:nth-of-type(1){
    background-color:var(--magenta);
    height: 50vh;
}
.intro-pic:nth-of-type(2){
    background-color:var(--purple);
    height: 65vh;
}
.intro-pic:nth-of-type(3){
    background-color:var(--orange);
    height: 80vh;
}
.intro-pic:hover {
    flex: 1 0 45%;
    height: 80vh;
}

.thumb::before {
    position: relative;
    /* display: block; */
    /* content: ""; */
    /* padding-top: 100%; */
    /* transition: 0.3s; */
}

.section-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-header > h2, .section-header > h1 {
    margin: 0;
    width: 99vw;
    padding-top: 57px;
    margin-bottom: 40px;
    /* color: hsl(331deg 65% 84%); */
    /* border-top: 4px solid; */
    /* border-image: linear-gradient(to right,transparent 5% , var(--magenta)15%, var(--yellow) 85%,transparent 95%) 1; */
    /* border-image-width: 3px; */
}

.thumb {
    /* grid-column-end: span 3; */
    /* gap: var(--col-gap); */
}

.thumb:hover::before {
    background-color: rgba(var(--rgb-light-purple), 0.5);
}

.thumb-wrapper {
    --thumb-n: 0;
    grid-column: 1 /-1;
    display: flex;
    flex-direction: row;
    /* gap: var(--col-gap); */
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}
.thumb-container{
    display: flex;
    flex-flow:
    column;
    margin-left: 2vmin;
    margin-right: 2vmin;
    width:15vmin;
    justify-content: flex-start;
    align-items: center;
}
.portfolio-thumb {
    height: 10vmin;
    width: 10vmin;
    /* background-color: var(--orange); */
    /* background-size: cover; */
    background-position: center;
    border-radius: 100%;
    transition: 0.3s;
    transform-origin: center center;
    box-shadow: inset 1px 1px 5px 1px rgba(0,0,0,0.5);

}
.portfolio-text{
    text-align: center;
}
.portfolio-thumb:hover {
    width:15vmin;
    height: 15vmin;
    margin-left:0vmin;
    margin-right:0vmin;

}
.thumb-container:nth-of-type(1) .portfolio-thumb {
    background-color: var(--magenta);
}
.thumb-container:nth-of-type(2) .portfolio-thumb {
    background-color: var(--purple);
}
.thumb-container:nth-of-type(3) .portfolio-thumb {
    background-color: var(--orange);
}
.thumb-container:nth-of-type(4) .portfolio-thumb {
    background-color: var(--yellow);
}

.gallery-item.img{
    display:none;
    top:-125%;
}

.gallery-item.text{
    display:
    none;
    left:-125%;
    /* position: relative; */
}
.gallery-item {
    width: 100%;
    height: 100%;
}
.gallery-item{
    position: absolute;
}
.gallery-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: var(--col-gap);
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.gallery-container{
    position: relative;
    width:100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.gallery-container.gallery-img{
    flex-flow:column;
    align-items: flex-end;

}

.gallery-container.gallery-text{
    flex-flow: column;
    display: grid;
    grid-template-rows: 8fr 2fr;
}

.gallery-item.img.item-0 {
    background-color: var(--orange);
}

.gallery-item.img.item-1 {
    background-color: var(--magenta);
}

.gallery-item.img.item-3 {
    background-color: var(--purple);
}

.gallery-item.img.item-2 {
    background-color: var(--yellow);
}
.sec-12 {

/* grid-template-columns: repeat(12, 1fr); */
}

.full-page {
    /* height: 100vh !important; */
}

.fast {
    transform: translateY(100%)
}

@keyframes slow {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
.placeholder::after{
    display: block;
    position: relative;
    width:100%;
    height: 100%;
}

.placeholder.ph-text{
    content: "Lorem ipsum dolor sit amet, eiusmod in elit eu ex qui est nostrud amet sint labore ullamco. Labore non excepteur do irure laboris. Dolor veniam laborum aute velit dolore consectetur reprehenderit mollit.";
}

footer {
    grid-column: 1 /-1;
    background-image: linear-gradient(181deg,var(--magenta)-80% , transparent 109%);
    /* height: 30vh; */
}
.footer-content{
    grid-column: span 4;
}
.footer-content.site-links{
    /* height: 100%; */
    position: relative;
}
footer>.section-wrapper {
    padding-top: 20px;
}

.footer-content p, .footer-content a {
    font-size: 12pt;
    padding-bottom: 0.45em;
}