:root {
    --col-gap: 2vw;
    --row-gap: 4vw;

    /* COLORS */
    --purple: hsl(299, 73%, 32%);
    --yellow: hsl(52, 97%, 50%);
    --magenta: hsl(330, 79%, 52%);
    --orange: hsl(31, 88%, 63%);
    --light-purple: hsl(299, 33%, 59%);
    --light-magenta: hsl(330, 78%, 71%);
    --light-orange: hsl(31, 88%, 77%);
    --light-yellow: hsl(52, 96%, 80%);
    --dark-purple: hsl(299, 73%, 16%);
    --dark-magenta: hsl(330, 73%, 26%);
    --dark-orange: hsl(31, 53%, 31%);
    --dark-yellow: hsl(52, 95%, 25%);

    --rgb-purple: 139, 22, 141;
    --rgb-magenta: 230, 36, 133;
    --rgb-orange: 244, 163, 78;
    --rgb-yellow: 251, 218, 5;

    --rgb-light-purple: 184, 116, 185;
    --rgb-light-magenta: 239, 123, 181;
    --rgb-light-orange: 248, 198, 145;
    --rgb-light-yellow: 253, 240, 155;

    --rgb-dark-purple: 70, 11, 71;
    --rgb-dark-magenta: 115, 18, 66;
    --rgb-dark-orange: 121, 80, 37;
    --rgb-dark-yellow: 124, 108, 3;

    --hsl-purple: 299, 73%, 32%;
    --hsl-yellow: 52, 97%, 50%;
    --hsl-magenta: 330, 79%, 52%;
    --hsl-orange: 31, 88%, 63%;

    --hls-light-purple: 299, 33%, 59%;
    --hls-light-magenta: 330, 78%, 71%;
    --hls-light-orange: 31, 88%, 77%;
    --hls-light-yellow: 52, 96%, 80%;
    --hls-dark-purple: 299, 73%, 16%;
    --hls-dark-magenta: 330, 73%, 26%;
    --hls-dark-orange: 31, 53%, 31%;
    --hls-dark-yellow: 52, 95%, 25%;


    --bg-dark:26,0,20;
    --bg-mid:68,11,70;
    --bg-light:228,35,130;
}

div {
    /* outline: 1px solid black; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

  body{
    margin:0;
    padding:0;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:linear-gradient(-92.2deg, rgba(var(--bg-dark),1) 15%,rgba(var(--bg-mid)) 90%, rgba(var(--bg-light)) 190%);
  }
  
  .parallax-wrapper{
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      perspective: 100px;
        perspective-origin:50% 100%;
  }
  .para{
    position:absolute;
    top:0;
    height:1000vh;
    width:100%;
  }
  .parallax1{
    transform: translateZ(-100px) scale(2.2) translateX(2.5%) translateY(18%);
    background-image: url(https://ams03pap001files.storage.live.com/y4mRh4bG25tsRi_bejAjVlovv2VXUhSr2dkA4SKK2FoJ7pYefqw1vfoxB84n0D-CgXGsIsDrMmhPKAPdvcHG4x5b7Pm9yUw4sJrTrJWU9cHU6u7l99JW5k2mgcQwOG6xanb7y3Frn1w-aosto6a0Hg-4c9PIC1U5dePi8dn1sEzjtU5Jbnwoubkt7qiGoQZ1Yzn?width=1928&height=6040&cropmode=none);
    background-size: contain;
    background-repeat-x: no-repeat;
    opacity: 0.4;
  }
  
  
  
  .parallax2{
    display:none;
    transform:translateZ(-150px) scale(2.5);
    background-image:url(https://ams03pap001files.storage.live.com/y4md_Vo6gmMT2UyerZgkAXZsfpu-ziPG0f4gKdMPzhuEt6UjhzKl0NpE28aZORhBHiqS7q_lpwnR3EBilO8mgOQq5rORpJG9JvBieVviMPXFzqqBRlBsZms-CdkaIBVzjsxh2zFOSTywO5rJT8RF7MDO8Kbv5Fzy1xVqCYh73nVV5oYBeTLn25PhVwZINrV2tio?width=1736&height=2503&cropmode=none);
      background-size:contain;
    filter:blur(1px) saturate(100%) opacity(20%);
      background-repeat-x:no-repeat;
  }




#grid-wrapper {
    position: relative;
    display: grid;
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
    grid-template-columns: repeat(var(--gridWrapper), 1fr);
    grid-template-rows: repeat(5, minmax(10px, auto));
    /*  background-image: url(../img/bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-basis: 100%;
    flex-shrink: 0;
    min-height: 100vh;
}

#grid-wrapper.full-page {
    overflow: auto;
    height: 100vh;
    --col-gap: 0px;
    grid-template-rows: auto;
}

.anchor {
    position: absolute;
    width: 0px;
    height: 0px;

}

header,
section {
    position: relative;
    display: grid;
    grid-column: span var(--gridWrapper);
    grid-template-columns: inherit;
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
    outline: 1px solid black;
}

section {}

.header-wrapper {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 15;
    grid-template-columns: repeat(12, 1fr);
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
    height: 100vh;

}

.side-nav {
    position: fixed;
    height: 100%;
    width: 0%;
    background-color: green;
    flex-shrink: 0;
    transition: 0.2s;

}

.side-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    background-color: aqua;
    width: 50px;
    height: 50px;

}

.side-btn:hover~.side-nav,
.side-nav:hover {
    width: 30%;

}

.nav-wrapper {
    padding-top: 40px;
    padding-left: 20px;
}

.nav-link {
    display: block;
    color: black;
}

.nav-btn {
    font-size: 80px;
}

.header-content {
    padding-top: 7vh;
}

.logo-wrapper {
    width: 100%;
    height: 38vmin;
    position: relative;
    background-image: url(../img/Logo3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 50%;

}

.intro-content-left {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.intro-content-right {
    display: flex;
    gap: var(--col-gap);
}

.intro-pic {
    flex: 1 1 10%;
    height: 100vh;
    /*  background-image: url(../img/ph-Bild2.png); */
    background-color: antiquewhite;
    box-shadow: indet 1px 1px 1px 1px hsla(0deg, 0%, 0%, 0.5S);
    background-position: center;
    transition: 0.2s;
}

.intro-pic:hover {
    flex: 1 0 45%;

}

.thumb::before {
    position: relative;
    display: block;
    content: "";
    padding-top: 80%;
    transition: 0.3s;

}


.thumb {
    grid-column-end: span 3;
    gap: var(--col-gap)
}

.thumb:hover::before {
    background-color: rgba(var(--rgb-light-purple), 0.5);
}

.thumb-container {
    --thumb-n: 0;
    grid-column: 2 / span 10;
    display: grid;
    gap: var(--col-gap)
}

.portfolio-thumb {
    background-image: url(../img/ph-Bild2.png);
    background-size: cover;
    background-position: center;
}


.sec-12 {

    grid-template-columns: repeat(12, 1fr);

}

.full-page {
    /* height: 100vh !important; */
}

.fast {
    transform: translateY(100%)
}

@keyframes slow {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
.placeholder::after{
    display: block;
    position: relative;
    width:100%;
    height: 100%;
}

.placeholder.ph-text{
    content: "Lorem ipsum dolor sit amet, eiusmod in elit eu ex qui est nostrud amet sint labore ullamco. Labore non excepteur do irure laboris. Dolor veniam laborum aute velit dolore consectetur reprehenderit mollit.";
}